<div class="container">
    <div class="content-body">
        <div class="index-title">
            <h1>Welcome to the Prestige Worldwide Entertainment Database</h1>
        </div>
        <h2>To enter an upcoming performance into the database, click on the 'Performances' link below or</h2>
        <h2>use the 'quick-links' at the top of the page to navigate through other tables in the database.</h2><br>
        <h2>Below you will find a description of the actions that can be performed on each page.</h2>
        <br>

        <h3><a type="button" href="/performances"> Performances: </a></h3>
        <div class="index-notes">
            <ul>
                <li>Here you can view an upcoming performances or schedule a future performance for a specific room in a venue, as well as specify the artist/group performing.</li>
                <li>You will also be able to update details about a scheduled performance or cancel and upcoming performance by removing it from the database.</li>
            </ul>
        </div>

        <h3><a type="button" href="/artists"> Artists: </a></h3>
        <div class="index-notes">
            <ul>
                <li>Add an upcoming artist/group to the database or view the list of artists scheduled to perform at one of the Prestige Worldwide Venues.</li>
                <li>This page is also where you can update details, such as contact information for the performer(s), or remove an artist from an upcoming performance.</li>
            </ul>
        </div>

        <h3><a type="button" href="/venues"> Venues: </a></h3>
        <div class="index-notes">
            <p>Note: The "Venues" table will rarely be modified. Modifications will only occur if a venue changes
                or closes permanently, or a new venue under the PWE name is purchased.
            </p>
            <ul>
                <li>Add: add additional venues to the list of venues under the PWE name</li>
                <li>Update: update information about a specific venue. E.G. phone, email</li>
                <li>Delete: used only if a venue is no longer a part of PWE </li>
            </ul>
        </div>

        <h3><a type="button" href="/rooms"> Rooms: </a></h3>
        <div class="index-notes">
            <p>Note: The "Rooms" table will rarely be modified. Modifications will only occur if a venue adds a room to, or removes
                a room from, their establishment.</p>
            <ul>
                <li>Add: add additional room to a venue</li>
                <li>Update: modify specifics about a room room. E.G. name change, capacity change</li>
                <li>Delete: used only if a venue removes a room from their establishment</li>
            </ul>
        </div>

        <h3><a type="button" href="/instruments"> Instruments: </a></h3>
        <div class="index-notes">
            <ul>
                <li>Add: add an instrument to the list of instruments needed for a performance</li>
                <li>Update: modify the name of an instrument</li>
                <li>Delete: remove an instrument from the table of requested instruments</li>
            </ul>
        </div>
        <h3><a type="button" href="/tickets"> Tickets: </a></td></h3>
        <div class="index-notes">
            <ul>
                <li>Add: add information about a ticket to see a specified artist.</li>
                <li>Update: modify details for the ticket. E.G. price, quantity</li>
                <li>Delete: remove the ticket associated with an artist. </li>
            </ul>
        </div>

        <h3><a type="button" href="/ticket_invoices"> Ticket Invoices: </a></h3>
        <div class="index-notes">
            <ul>
                <li>Add: facilitates the relationship between Tickets and a Performance by adding IDs that specify details about the show.</li>
                <li>Update: modify details between a performance a ticket (e.g. a change in rooms at a venue.</li>
                <li>Delete: remove the event between the two tables entirely </li>
            </ul>
        </div>
        <h3><a type="button" href="/artist_needs_ins"> Requested Instruments: </a></h3>
        <div class="index-notes">
            <ul>
                <li>Add: facilitates the relationship between Artists and required Instruments by holding IDs that specify details about between the two.</li>
                <li>Update: modify details between an Artist and the Instruments (e.g. need multiple of the same instrument, many different instruments.</li>
                <li>Delete: remove the event between the two tables entirely if the instrument is no longer requested. </li>
            </ul>
        </div>
    </div>
</div>
