<div id = "header">
    <h1>Instruments</h1>
    <table id = "quick-links">
        <tr>
            <td><a class="link_button" type="button" href="/"> Home </a> | </td>
            <td><a class="link_button" type="button" href="/venues"> Venues </a> | </td>
            <td><a class="link_button" type="button" href="/rooms"> Rooms </a> | </td>
            <td><a class="link_button" type="button" href="/performances"> Performances </a> | </td>
            <td><a class="link_button" type="button" href="/artists"> Artists </a> | </td>
            <td><a class="link_button" type="button" href="/instruments"> Instruments </a> | </td>
            <td><a class="link_button" type="button" href="/tickets"> Tickets </a> | </td>
            <td><a class="link_button" type="button" href="/ticket_invoices"> Ticket Invoices </a> | </td>
            <td><a class="link_button" type="button" href="/artist_needs_ins"> Requested Instruments </a></td>
        </tr>
    </table>
</div>

<div id "data-table">
    <h2><b>Instruments Available for Request</b></h2>
    <table border=solid cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Instrument Name</th>

        </tr>
        <tr>
            <td>1</td>
            <td>Acoustic Guitar</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Bass Guitar</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Electric Guitar</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Drum Set</td>
        </tr>
    </table>
</div>
<br>

<div id="add">
    <form id="add-instrument">
        <legend><b>Add a new Instrument to the Inventory</b></legend>
          <fieldset class="fields">
            <label> Instrument Name: </label> <input type="text" name="name">
          </fieldset>
          <input class="btn" type="submit" id="add_instrument" value="Add Instrument">
          <input class="btn" type="button" value="Cancel">
	</form>
</div>
<br>

<div id="update">
    <form id="update-Instrument">
      <legend><b>Update Details of an Instrument</b></legend>
          <fieldset class="fields">
            <label> ID: </label> <input type="number" name="id">
            <label>Instrument Name: </label> <input type="text" name="name">
    </fieldset>
    <input class="btn" type="submit" id="update-instrument" value="Update Instrument">
    <input class="btn" type="button" value="Cancel" >
  </form>
</div>
<br>

<div id="delete">
    <form id="delete-Instrument">
      <legend><b>Remove an Instrument from the Inventory</b></legend>
          <fieldset class="fields">
            <label> ID: </label> <input type="number" name="id">
    </fieldset>
    <input class="btn" type="submit" id="delete-instrument" value="Delete Instrument">
    <input class="btn" type="button" value="Cancel" >
  </form>
</div>