<h1>Instruments</h1>

    <h2><b>Instruments Available for Request</b></h2>

<table class="instrument-table" id="instrument-table">
    <thead class="table-head">
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody class="table-body">
        {{#each data}}
        <tr>
            <td>{{this.instrument_id}}</td>
            <td>{{this.instrument_type}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>



<form id="add-instrument-form">
    <h2>Add an instrument </h2>
    <label for="add-instrument-form" method="POST" action="add-instrument-form"></label>
    <input type="text" name="add-instrument" id="add-instrument">
    <input type="submit">
</form>


<div id="update">
    <form id="update-Instrument">
      <legend><b>Update Details of an Instrument</b></legend>
          <fieldset class="fields">
            <label> ID: </label> <input type="number" name="id">
            <label>Instrument Name: </label> <input type="text" name="name">
    </fieldset>
    <input class="btn" type="submit" id="update-instrument" value="Update Instrument">
    <input class="btn" type="button" value="Cancel" >
  </form>
</div>
<br>

<div id="delete">
    <form id="delete-Instrument">
      <legend><b>Remove an Instrument from the Inventory</b></legend>
          <fieldset class="fields">
            <label> ID: </label> <input type="number" name="id">
    </fieldset>
    <input class="btn" type="submit" id="delete-instrument" value="Delete Instrument">
    <input class="btn" type="button" value="Cancel" >
  </form>
</div>
