<div id = "header">
    <h1>Performances</h1>
    <table id = "quick-links">
        <tr>
            <td><a class="link_button" type="button" href="/"> Home </a> | </td>
            <td><a class="link_button" type="button" href="/venues"> Venues </a> | </td>
            <td><a class="link_button" type="button" href="/rooms"> Rooms </a> | </td>
            <td><a class="link_button" type="button" href="/performances"> Performances </a> | </td>
            <td><a class="link_button" type="button" href="/artists"> Artists </a> | </td>
            <td><a class="link_button" type="button" href="/instruments"> Instruments </a> | </td>
            <td><a class="link_button" type="button" href="/tickets"> Tickets </a> | </td>
            <td><a class="link_button" type="button" href="/ticket_invoices"> Ticket Invoices </a> | </td>
            <td><a class="link_button" type="button" href="/artist_needs_ins"> Requested Instruments </a></td>
        </tr>
    </table>
</div>

<div id "data-table">
    <h2><b>Upcoming Performance List</b></h2>
    <table border=solid cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Performance Date</th>
            <th>Tickets Available</th>
            <th>Room ID</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2022-02-23</td>
            <td>45</td>
            <td>1</td>

        </tr>
        <tr>
            <td>2</td>
            <td>2022-07-30</td>
            <td>10</td>
            <td>2</td>

        </tr>
            <tr>
            <td>3</td>
            <td>2022-08-06</td>
            <td>99</td>
            <td>3</td>
        </tr>
    </table>
</div>
<br>

<div id="add">
    <form id="add-performance">
        <legend><b>Add a Performance to the Schedule</b></legend>
          <fieldset class="fields">
            <label> Performance Date: </label> <input type="date" name="date">
            <label> Tickets Available: </label> <input type="number" name="tic_available"><br>
            <label> Room ID: </label> <input type="number" name="room_id">
            <label> Artist ID: </label> <input type="number" name="artist_id">

          </fieldset>
          <input class="btn" type="submit" id="add_performance" value="Add Performance">
          <input class="btn" type="button" value="Cancel">
	</form>
</div>
<br>

<div id="update">
    <form id="update-performance">
      <legend><b>Update Details of an Upcoming Performance</b></legend>
          <fieldset class="fields">
            <label> Performance ID: </label> <input type="number" name="id">
            <label> Performance Date: </label> <input type="date" name="date"><br>
            <label> Tickets Available: </label> <input type="number" name="tic_available">
            <label> Room ID: </label> <input type="number" name="room_id">
            <label> Artist ID: </label> <input type="number" name="artist_id">
    </fieldset>
    <input class="btn" type="submit" id="update-performance" value="Update Performance">
    <input class="btn" type="button" value="Cancel" >
  </form>
</div>
<br>

<div id="delete">
    <form id="delete-performance">
      <legend><b>Cancel a scheduled Performance</b></legend>
          <fieldset class="fields">
            <label> Performance ID: </label> <input type="number" name="id">
    </fieldset>
    <input class="btn" type="submit" id="delete-performance" value="Delete Performance">
    <input class="btn" type="button" value="Cancel" >
  </form>
</div>