<div id = "header">
    <h1>Rooms</h1>
    <table id = "quick-links">
        <tr>
            <td><a class="link_button" type="button" href="/"> Home </a> | </td>
            <td><a class="link_button" type="button" href="/venues"> Venues </a> | </td>
            <td><a class="link_button" type="button" href="/rooms"> Rooms </a> | </td>
            <td><a class="link_button" type="button" href="/performances"> Performances </a> | </td>
            <td><a class="link_button" type="button" href="/artists"> Artists </a> | </td>
            <td><a class="link_button" type="button" href="/instruments"> Instruments </a> | </td>
            <td><a class="link_button" type="button" href="/tickets"> Tickets </a></td>
        </tr>
    </table>
</div>

<div id "data-table">
    <h2><b>Rooms List</b></h2>
    <table border=solid cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Capacity</th>
            <th>Venue ID</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Pony Room</td>
            <td>75</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Oregon Trail</td>
            <td>50</td>
            <td>1</td>
        </tr>
        <tr>
            <td>3</td>
            <td>The Clydesdale</td>
            <td>125</td>
            <td>3</td>
        </tr>
    </table>
</div>
<br>

<div id="add">
    <h2><b>Add a Room</b></h2>
    <form id="add-room">
        <legend><b>Add a Room</b></legend>
          <fieldset class="fields">
            <label> Name </label> <input type="text" name="name">
            <label> Capacity </label> <input type="text" name="capacity">
            <label> Venue ID</label> <input type="number" name="venue_id">
          </fieldset>
          <input class="btn" type="submit" id="add_room" value="Add Room">
          <input class="btn" type="button" value="Cancel">
	</form>
</div>
<br>

<div id="update">
    <h2><b>Update Room</b></h2>
    <form id="update-room">
        <legend><b>Update Venue</b></legend>
        <fieldset class="fields">
            <label> ID </label> <input type="number" name="id">
            <label> Name </label> <input type="text" name="name">
            <label> Capacity </label> <input type="text" name="capacity">
            <label> Venue ID</label> <input type="number" name="venue_id">
        </fieldset>
        <input class="btn" type="submit" id="update-room" value="Update Room">
        <input class="btn" type="button" value="Cancel" >
    </form>
</div>
<br>

<div id="delete">
    <h2><b>Delete Room</b></h2>
    <form id="delete-venue">
      <legend><b>Delete Room</b></legend>
          <fieldset class="fields">
            <label> ID </label> <input type="number" name="id">
    </fieldset>
    <input class="btn" type="submit" id="delete-room" value="Delete Room">
    <input class="btn" type="button" value="Cancel" >
  </form>
</div>